<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        li {
            list-style-type: none;
        }
        .image {
            float: left;
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
    <h2>图片表情列表</h2>
    <ul>
        <%for(var i = 0; i< list.length; i++){%>
        <Li>
            <img class="image" src="<%=list[i].image_url%>" referrer="no-referrer|origin|unsafe-url" alt="">
        </Li>
        <%}%>
    </ul>
</body>
</html>